@import url('https://fonts.googleapis.com/css?family=Abel|Baloo+Bhai|Dosis:200,300,400,500,600,700|Inconsolata:400,700|Kodchasan:200,200i,300,400,400i,500,500i,600,700|Nanum+Gothic:400,700');

@import url('https://fonts.googleapis.com/css?family=Kodchasan:200,300,400,500,500i,600,700,700i|Montserrat:100,200,300,400,500,600,600i|Poppins:100,200,300,400,500,600,700|Quicksand:300,400,500,700|Ubuntu:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,900|Catamaran:100,200,300,400,500,600,700,800,900|Comfortaa:300,400,500,600,700|Inconsolata:400,700|Mukta:200,300,400,500,600,700|Muli:200,300,400,600,700|Nunito:200,300,400,600,700,800,900|Quicksand:300,400,500,700|Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500|Rajdhani:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Maven+Pro:400,500,700,900|Montserrat:300i,400,500,600,700|Open+Sans:300,400,600,700|Poiret+One|Quicksand:300,400,500|Roboto:300,400,500,700|Ubuntu:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');


// font-family: 'Baloo Bhai', cursive;
// font-family: 'Kodchasan', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Dosis', sans-serif;
// font-family: 'Abel', sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Quicksand', sans-serif;

// font-family: 'Muli', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Inconsolata', monospace;
// font-family: 'Mukta', sans-serif;
// font-family: 'Barlow', sans-serif;
// font-family: 'Catamaran', sans-serif;
// font-family: 'Comfortaa', cursive;
// font-family: 'Rajdhani', sans-serif;


/* 
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Jura', sans-serif;
*/

// font-family: 'Josefin Slab', serif