.not-found {
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 55px;
   p {
      font-weight: 300;
      font-size: 1.7em;
      color: #757575;
      font-family: "Dosis", sans-serif;
      text-transform: uppercase;
   }
}