.title-page {
   display: flex; 
   justify-content: center; 
   margin-top: 25px;
   div {
      width: max-content;
      padding: 4px 35px;
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to left, rgba(65, 115, 189, 0.979), rgba(255, 130, 130, 0.973)) 20;
      
      h2 {
         font-weight: 400;
         font-size: 1.5em;
         color: rgb(117, 117, 117);
         font-family: "Dosis", sans-serif;
         text-transform: uppercase;
         text-align: center;
      }
   }
}

@media screen and (min-width: 600px) {
   .title-page {
      display: initial; 
      justify-content: initial;
      div {
         margin-left: 5%;
      }
   }
}